{% load static %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'landing' %}">
            <i class="fas fa-chart-line"></i>
            TradeEase
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'landing' %}#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'landing' %}#pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'landing' %}#platforms">Platforms</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signin' %}">Login</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="btn btn-secondary-custom btn-sm px-4 rounded-pill" href="{% url 'signup' %}">
                            Get Started
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>